
@font-face {
  src: url(../fonts/RextonRegular.otf);
  font-family: RextonRegular;
}
@font-face {
  src: url(../fonts/RextonBold.otf);
  font-family: RextonBold;
}
@font-face {
  src: url(../fonts/RextonLight.otf);
  font-family: RextonLight;
}

header{
        display: flex;
        justify-content: center;
        align-items: center; 
         height: 80px; 
        background-color:#333f53;
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 999;
        }


nav{
  font-family: RextonLight;
  position:absolute;
  text-align: left;
  top:100%;
  width:100%;
  left: 0;
  background:#333f53;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;

  
}
nav ul {
  font-family: RextonLight;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: .75rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color:black
}


.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left:0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display:block;
  background:white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after{
  top: 7px;
}


nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  transform: scale(1,1)
}

.nav-toggle:checked ~ nav a{
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px){
  .nav-toggle-label{
    display:none;
  }

  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / span 1;
  }

  nav{
    all:unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul{
    display: flex;
    
  }

  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a{
    opacity:1;
    position:relative;
  }

  nav a::before{
    content:'';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
}
  nav a:hover::before{
    transform: scale(1,1)
  }
}

#logo-pic{
  height: 75px;
  grid-column: 1/2;
  display:flex;
  align-items:center;
}

h1{
  font-family: RextonRegular;
  font-size: 1.5em;
  color:#fcde67;
}

main{
    background-color:#252d3c;
    width: 100%
}



button{
  font-family: RextonLight;
}

body{
    background-color:#252d3c;
}

#form-container:hover form {
  animation: left-to-right 1s ease-in forwards infinite alternate;
  animation-play-state: paused;
}
  
@keyframes   left-to-right {
    100%{
      transform: translateX(100%);
    }
  }
    
form{
    animation: left-to-right 1s ease-in forwards infinite alternate;
    font-family: RextonRegular;
    font-size: small;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;

    width: 350px;
    height: 350px;
    border-radius: 12px;
    background-color:#5bccf6;
    
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .game-cover {
    width: 400px; 
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

.game-title{
  font-family:RextonBold;
  font-weight: bolder;
  font-size: x-large;
}

.game-card {
    
    font-family: RextonLight;
    font-size: small;
    background-color: #333f53;
    color: white;
    width: 400px;
    margin: 20px; 
    padding: 40px;
     display: flex;
     flex-direction: column;
    
    align-items: center;
    flex-wrap:wrap;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
  }
